In [11]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import seaborn as sns
from datetime import datetime    # To access datetime 
from pandas import Series 
import warnings
warnings.filterwarnings('ignore')

In [12]:
data=pd.read_excel('Evaluation Metric example.xlsx')

In [13]:
data.head()

,timestamp,m1,m2,m3,m1_hat,m2_hat,m3_hat,(m1-m1_hat)^2,(m2-m2_hat)^2,(m3-m3_hat)^2,d(t),exp_weight,weighted_m1_error,weighted_m2_error,weighted_m3_error
0,2017-04-01 00:00:00,2898.969633,1390.244624,0.000000,2000.0,2000.0,2000.0,808146.400566,3.718016e+05,4.000000e+06,1.0,0.993092,802564,3.692334e+05,3.972370e+06
1,2017-04-01 00:15:00,2531.896894,1087.313897,0.000000,2000.0,2000.0,2000.0,282914.306323,8.329959e+05,4.000000e+06,1.0,0.993092,280960,8.272420e+05,3.972370e+06
2,2017-04-01 00:30:00,2171.649138,695.625737,0.484790,2000.0,2000.0,2000.0,29463.426526,1.701392e+06,3.998061e+06,1.0,0.993092,29259.9,1.689640e+06,3.970444e+06
3,2017-04-01 00:45:00,2207.299159,615.496571,1.317875,2000.0,2000.0,2000.0,42972.941525,1.916850e+06,3.994730e+06,1.0,0.993092,42676.1,1.903609e+06,3.967137e+06
4,2017-04-01 01:00:00,2839.441067,1071.573744,0.000000,2000.0,2000.0,2000.0,704661.305364,8.619753e+05,4.000000e+06,1.0,0.993092,699794,8.560212e+05,3.972370e+06

In [14]:
timestamp=data['timestamp']
timestamp=timestamp[:192]

In [15]:
m=data['m1']
m=m[:192]
m_hat=data['m1_hat']
m_hat=m_hat[:192]
m=m.to_numpy()
m_hat=m_hat.to_numpy()

In [16]:
# timestamp is a series of timestamp values
# m is the numpy array of actual value of a meter
# m_hat is the numpy array of predicted values of a meter
def evalution_metric(m,m_hat,timestamp):
    Dt=timestamp.dt.day
    Sum=0
    for i in range(len(m)):
        Sum+=np.power((m[i]-m_hat[i]),2)*np.exp(-(np.log(2)/100)*Dt[i])
    score=(1/np.mean(m))*(np.sqrt(Sum))
    return score

In [17]:
value=evalution_metric(m,m_hat,timestamp)

In [18]:
value

7.236260614714035